/EjercicioRS/nbproject/private/
/Tareas/EjercicioRS/build/
/Tareas/Tarea1/EjercicioRS/build/
/Tareas/Tarea1/EjercicioRS/nbproject/private/
/Tareas/Tarea2/Arreglo/nbproject/private/
/Tareas/Tarea2/Arreglo/build/
/Tareas/Tarea3/Empresa/nbproject/private/
/Tareas/Tarea3/Empresa/build/
/Tareas/Tarea3/Pruebas/nbproject/private/
/Tareas/Tarea3/Empresa/dist/
