/EjercicioRS/nbproject/private/
/Tareas/EjercicioRS/build/
/Tareas/Tarea1/EjercicioRS/build/
/Tareas/Tarea1/EjercicioRS/nbproject/private/
/Tareas/Tarea2/Arreglo/nbproject/private/
/Tareas/Tarea2/Arreglo/build/
/Tareas/Tarea3/Empresa/nbproject/private/
/Tareas/Tarea3/Empresa/build/
/Tareas/Tarea3/Pruebas/nbproject/private/
/Tareas/Tarea3/Empresa/dist/
/Tareas/Tarea4/ConjuntoADT/nbproject/private/
/Tareas/Tarea4/JavaApplication8/nbproject/private/
/Tareas/Tarea4/ConjuntoADT/build/
/Tareas/Tarea4/ConjuntoADT/dist/
/Tareas/Tarea5/ListaSimple/nbproject/private/
/Tareas/Tarea5/ListaSimple/build/
/Tareas/Tarea6/Pilas/nbproject/private/
/Tareas/Tarea6/Pilas/build/
/Tareas/Actividad Extra/BalanceoParentesis/nbproject/private/
/Tareas/Actividad Extra/BalanceoParentesis/build/
/Tareas/Actividad Extra/BalanceoParentesis/dist/
/Tareas/Tarea7/ColasADT/nbproject/private/
/Tareas/Tarea7/ColasADT/build/
/Tareas/Tarea8/ColaPrioridad/nbproject/private/
/Tareas/Tarea8/ColaPrioridad/build/
/Tareas/Tarea9/TablaHash/nbproject/private/
/Tareas/Tarea9/TablaHash/build/
/Tareas/Tarea9/TablaHash/dist/
/Proyecto Final/Collections Java/nbproject/private/
/Proyecto Final/Collections Java/build/
/Proyecto Final/Collections Java/dist/
